.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #212121;
  height: 80px;
  padding: 0 100px;

  &__mail {
    color: #8F8F8F;
    font-size: 16px;
    font-weight: 400;
  }
  
  &__social {
    width: 208px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    svg {
      margin-left: 20px;
    }
  }
}

.footer-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  margin-top: 70px;
  font-size: 11px;

  &__to-help {
    font-size: 13px;
    margin-bottom: 30px;
    color: #00b7f9!important;
  }

  svg {
    margin: 20px 0;
  }

  &__mail:hover {
    color: white!important;
  }
}
