.layout {
  display: flex;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
  min-height: 100vh;

  .content {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;

    .page {
      margin: 0 auto;
      min-height: 100%;
      width: 100%;
    }
  }

  &--auth {
    background: white;
    background-size: 100% 200%;

    p, span, label, a, input, textarea, div {
      color: #212121;
    }

    h1 {
      color: white;
      font-weight: 300;
      font-size: 24px;
      margin: 55px 0 25px;
    }

    .auth-page__link {
      font-family: Proxima Nova, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #15D378;
    }

    .page > div:not(.notification-container) {
      min-height: 85vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      p {
        font-size: 13px;
      }
    }
  }
}

.space-25 {
  height: 25px;
}

.space-10 {
  height: 10px;
}

.notification-message .message {
  color: white!important;
}
