.create-asset-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;

  svg {
    transform: rotate(180deg);
  }

  &--opened svg {
    transform: rotate(0);
  }

  &__bulk {
    margin-right: auto;
    margin-left: 30px;
    font-weight: 500;
  }

  &__toggle-tab {
    font-size: 14px;
    color: $color-gray;
    margin-left: 14px;
    font-weight: 500;

    &--selected {
      color: $color-gray-light;
    }
  }

  &__text {
    font-size: 21px;
    font-weight: 500;
  }
}

.create-asset-form {
  &__media-bundle {
    font-size: 14px;
    font-weight: 400;
    color: $color-gray;
    width: 100%;
    text-align: right;
    margin-bottom: 20px;

    span {
      color: $color-primary;
      font-weight: 700;
    }
  }

  &__upload-file {
    padding: 12px;
    background: $color-gray;
  }

  &__added-img-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 44px;
  }

  &__set-cover-img {
    position: absolute;
    left: 5px;
    top: 5px;
    background: $color-primary;
    width: 20px;
    height: 20px;
    border-radius: 6px;

    svg {
      height: 10px;
      width: 10px;
    }

    path {
      fill: white;
    }
  }

  &__added-img {
    position: relative;
    width: 160px;
    height: 120px;
    margin-bottom: 32px;
    margin-right: 12px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--file {
      height: auto;

      img {
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: block;
      }
    }
  }

  &__delete-img {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 5px;
    top: 5px;
    background: #fff;

    path {
      fill: $color-primary;
    }
  }

  &__delete-property {
    position: absolute;
    right: 10px;
    top: 15px;
  }

  &__group {
    position: relative;

    hr {
      width: calc(100% + 40px);
      margin-left: -20px;
      margin-bottom: 24px;
    }
  }

  &__group-delete {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    &:hover {
      text-decoration: underline;
    }

    svg {
      margin-right: 5px;
    }
  }

  &__checkmark-label {
    color: $color-gray-light;
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-left: -12px;

    svg {
      margin-top: 6px;
    }

    path {
      fill: $color-gray-light;
    }
  }

  #file-upload {
    display: none;
  }

  &__item-wrapper {
    border: 1px solid $color-gray-light;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 44px;
  }

  &__item-wrapper-padding {
    padding: 20px;
  }

  &__map {
    padding: 20px;
    margin-bottom: 10px;
  }

  &__type img {
    width: 12px;
    height: 12px;
    bottom: 16px;
    transform: rotate(180deg);
  }

  &__added-file-name {
    width: 100%;
  }

  .form-semicolon-wrapper .primary {
    height: 48px;
  }
}
