.daterangepicker {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(74, 56, 174, 0.15);
  border-radius: 12px;
  border: 0;

  &::before {
    content: none;
  }

  .drp-buttons {
    display: flex!important;
    align-items: center;

    button {
      padding: 8px 16px!important;
      width: min-content;
      font-size: 14px!important;
      font-weight: 500!important;

      &:hover {
        box-shadow: 0 4px 4px 0 #49494926;
      }
    }
  }

  .calendar-table th, .calendar-table td {
    line-height: 31px;
  }

  td.active, td.active:hover, .end-date {
    background: $color-primary!important;
    color: white!important;
  }

  td.in-range {
    color: $color-primary;
    background: $whiteToGray;
  }
}

.cancelBtn {
  border: 1px solid $color-primary;
  background: transparent;
  color: #333333;
  margin-left: auto!important;
}

.applyBtn {
  border: 1px solid white;
  padding: 0 24px;
}
