.map-search {
  position: absolute;
  top: 10px;
  left: 10px;

  input {
    padding: 5px 10px;
  }
}

.gm-style .gm-style-iw-t:after {
  margin-top: -50px;
}

.gm-style .gm-style-iw-c {
  margin-top: -50px;
}

.gmap-info-window {
  font-size: 12px;
}
