.map-search {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;

  &__input {
    width: 100%;
  }

  &__dropdown {
    background: white;

    li {
      font-size: 12px;
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background: #e3e3e3;
      }
    }
  }
}

.gm-style .gm-style-iw-t:after {
  margin-top: -50px;
}

.gm-style .gm-style-iw-c {
  margin-top: -50px;
}

.gmap-info-window {
  font-size: 12px;
}
