.ui-input {
  position: relative;
  margin-bottom: 24px;

  &__input {
    border: 0;
    display: flex;
    appearance: none;
    height: 48px;
    width: 100%;
    background: #F7F7FD;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 14px;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    align-items: center;

    &--with-icon {
      padding-right: 50px;
    }

    &::placeholder {
      color: $color-blue;
    }
  }

  &__icon {
    width: 25px;
    position: absolute;
    right: 20px;
    bottom: 12px;
  }

  &__label {
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
  }
}
