.ui-toggle {
  &__option span {
    color: $color-gray;
    display: flex;
    align-items: center;
    padding: 12px 33px;
    justify-content: center;
  }

  &__option {
    border-radius: 90px;
    width: 49%;

    &--selected {
      background: white;
    }
  }

  &__options-wrapper {
    min-height: 48px;
    border-radius: 90px;
    background: $whiteToGray;
    display: flex;
    justify-content: space-between;
    padding: 4px;
  }
}
