.btn {
  border: none;
  cursor: pointer;
  background: $color-primary;
  color: $white;
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  min-height: 32px;
  max-height: 54px;
  padding: 0 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  border-radius: 2px;

  p {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  img {
    margin-right: 8px;
  }

  // types

  &.secondary {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: #333333;
  }

  &.primary {
    background-color: $color-primary;
  }

  &.plain {
    background-color: transparent;
    color: $color-primary;

    &.selected {
      background-color: $color-primary;
      color: white;
    }

    img {
      margin-right: 0;
    }
  }

  &.light {
    background: transparent;
    border: 0;
    color: #333333;
    border-top: 1px solid $color-gray-light;
  }

  &.pale {
    padding: 12px;
    min-width: 160px;
    width: min-content;
    background: $whiteToGray;
    color: $color-gray;
  }

  &.icon {
    height: 32px;
    width: 32px;
    padding: 0;
    background: transparent;
    border: 1px solid $white;

    svg path {
      fill: white;
    }

    img {
      margin-right: 0;
    }
  }

  //priority
  &.icon-btn {
    padding: 6px !important;
  }

  &.outline {
    border: 1px solid $color-blue;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: $white !important;
    color: $color-gray;
  }
}

button[disabled=disabled], button:disabled {
  opacity: 0.8;
  cursor: no-drop;
}


