.ui-select {
  position: relative;

  .ui-input {
    margin-bottom: 0;
  }

  &__options {
    width: 100%;
    background: white;
    box-shadow: 0 4px 12px rgba(55, 29, 199, 0.15);
    border-radius: 12px;
    position: absolute;
    margin-top: 3px;
    z-index: 1;
  }

  &__option {
    padding: 12px;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    text-align: left;

    &:hover, &--selected {
      background: $whiteToGray;
    }
  }
}
