.btn {
  border: none;
  cursor: pointer;
  background: $color-primary;
  color: $white;
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  min-height: 32px;
  max-height: 54px;
  padding: 1px 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  border-radius: 2px;

  p {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  img {
    margin-right: 8px;
  }

  &.secondary {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: #333333;

    &:hover {
      box-shadow: 0 4px 4px 0 #77777726;
    }
  }

  &.primary {
    background-color: $color-primary;

    &:not(&:disabled):hover {
      padding: 0 24px;
      border: 1px solid white;
      box-shadow: 0 4px 4px 0 #49494926;
    }

    &:disabled {
      background: #cccccc;
      color: #F1F1F1;
    }
  }

  &.plain {
    background-color: transparent;
    color: $color-primary;

    &:hover {
      text-decoration: underline;
    }

    &.selected {
      background-color: $color-primary;
      color: white;
    }

    img {
      margin-right: 0;
    }
  }

  &.light {
    background: transparent;
    border: 0;
    color: #333333;
    border-top: 1px solid $color-gray-light;
  }

  &.icon {
    height: 32px;
    width: 32px;
    padding: 0;
    background: transparent;
    border: 1px solid $white;

    svg path {
      fill: white;
    }

    img {
      margin-right: 0;
    }
  }
}

button[disabled=disabled], button:disabled {
  opacity: 0.8;
  cursor: no-drop;
}


