.auth-input {
  position: relative;

  &__input {
    textarea{
      padding: 10px !important;
    }
    border: 0;
    background: #EFF2F5;
    padding: 12px 45px 12px 46px;
    width: 100%;
    height: 48px;
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #05060F;
    &--error {
      border-color: #d64040;
    }
  }

  &__label {
    margin-bottom: 8px !important;
    display: flex !important;
    align-items: center !important;
    font-family: Proxima Nova, serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #58667E !important;
    &--error {
      color: #d64040!important;
    }
  }

  &__right-el {
    position: absolute;
    right: 15px;
    bottom: 8px;
  }
  &__left-el {
    position: absolute;
    left: 15px;
    bottom: 8px;
  }


  &__error-message {
    position: absolute;
    bottom: -15px;
    left: 0;
    color: #d64040!important;
    font-size: 11px;
  }
}
