.generate-key-form {
  width: 100%;
  text-align: center;
  max-width: 624px;

  &__title {
    color: #40D685 !important;
  }

  &__secure {
    text-align: right;
  }

  &__checkbox {
    margin: 40px 0 45px;
    .auth-checkbox__checkmark{
      margin-left: 0;
    }
  }
}

.generate-key-main {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  margin: 50px 0 20px;
  padding: 35px 25px 25px;
  text-align: left;

  &__label {
    color: #00b7f9!important;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__key {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 14px;
    word-break: break-all;
    color: #333333!important;
  }

  &__download {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #00b7f9!important;
    font-weight: 700;
    width: fit-content;
    margin-left: auto;
  }

  p {
    font-size: 14px!important;
  }
}

.success-registration {
  margin-top: 50px;
  text-align: center;

  &__img {
    width: 30px;
  }
}

.auth-modal-container {
  h2 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 40px;
  }

  p {
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  li {
    list-style-type: disc;
    font-size: 13px;
    margin-bottom: 5px;

    a {
      color: #00b7f9;
    }
  }

  h3 {
    font-weight: 700;
    margin: 30px 0 20px;
  }

  ul {
    margin-bottom: 30px;
  }

  button {
    height: 48px;
  }
}
