.key-login-container {
  padding-top: 165px;
  max-width: 489px;
  min-width: 489px;
  display: flex;
  flex-direction: column;
  height: auto;
  &__heading {
    font-family: Proxima Nova, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 32px !important;
    line-height: 40px !important;
    display: flex !important;
    align-items: center !important;
    color: #212121 !important;
    margin-bottom: 8px;
  }

  &__secondary {
    font-family: Proxima Nova, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 18px !important;
    color: #58667E !important;
  }

  .controls-auth{
    margin-top: 24px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 14px;
    .active{
      background: #EFF2F5;
      border-radius: 24px;
      color: #05060F;
    }
    button{
      height: 40px;
      padding: 8px 16px;
      font-family: Proxima Nova, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #58667E;
    }
  }

  .key-login {
    &__input {
      margin-top: 16px;
      width: 100%;
    }
  }

  .auth-input__right-el svg ~ div {
    width: 200px;
  }
}
