@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('../../assets/fonts/ProximaNova-Regular'),
  url('../../assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/ProximaNova-Regular.woff') format('woff'),
  url('../../assets/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova-Semibold.eot');
  src: local('Proxima Nova Semibold'), local('../../assets/fonts/ProximaNova-Semibold'),
  url('../../assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../../assets/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova-Extrabld.eot');
  src: local('Proxima Nova Extrabold'), local('../../assets/fonts/ProximaNova-Extrabld'),
  url('../../assets/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/ProximaNova-Extrabld.woff') format('woff'),
  url('../../assets/fonts/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('../../assets/fonts/ProximaNova-Bold'),
  url('../../assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/ProximaNova-Bold.woff') format('woff'),
  url('../../assets/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova-Light.eot');
  src: local('Proxima Nova Light'), local('../../assets/fonts/ProximaNova-Light'),
  url('../../assets/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/ProximaNova-Light.woff') format('woff'),
  url('../../assets/fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
