.generated-key-info {
  max-width: 422px;
  min-width: 422px;
  max-height: 440px;
  background: #FFFFFF;
  border-radius: 16px;
  margin: 25% auto;
  padding: 32px;
  text-align: center;

  &__top-image {
    width: 100%;
    margin-bottom: 14px;
  }
.do-not{
  color: #d54f47;
}
  .important-btn {
    background-color: #212121;
    color: white;
    margin: 0;
  }

  *, * {
    color: #212121;
  }

  &__title {
    font-family: Proxima Nova, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #212121;
    margin-bottom: 16px;
    margin-top: 16px;
    text-transform: uppercase;

  }

  p {
    color: #212121;
  }

  p + p {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}
