.auth-request {
  margin: 0 auto;
  max-width: 490px;
  min-width: 490px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__heading{
    width: 100%;
    text-align: left;
    font-family: Proxima Nova, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 32px !important;
    line-height: 40px !important;
    display: flex !important;
    align-items: center !important;
    color: #212121 !important;
    margin-bottom: 8px;
  }

  &__secondary{
    width: 100%;
    text-align: left;
    font-family: Proxima Nova, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 18px !important;
    color: #58667E !important;
  }

  &__form {
    width: 100%;
    margin-top: 30px;
  }

  &__checkbox {
    margin-top: 20px;
    color: #58667E!important;
  }

  &__submit {
    margin-top: 40px;
  }

  .auth-input {
    margin-bottom: 16px;
    width: 100%;
  }
}
