.sign-up {
  margin: 0 auto !important;
  min-width: 490px !important;
  max-width: 490px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;

  p {
    width: 100%;
  }

  &-choose {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    width: 100%;

    &__key {
      cursor: pointer;
      min-width: 100%;
      height: 84px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: #F4F5F6;
      border-radius: 16px;

      .circle {
        width: 16px;
        height: 16px;
        background: #FFFFFF;
        border: 1px solid #CFD6E4;
        box-sizing: border-box;
        border-radius: 50%;
        margin: 16px;
      }

      .icon {
        margin: 15px;
      }

      .text {
        .primary {
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #05060F;
        }

        .secondary {
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #58667E;
        }
      }
    }

    &__img {
      margin: 0 auto 45px;
      display: block;
    }

  }

  &__heading {
    width: 100%;
    font-family: Proxima Nova, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 32px !important;
    line-height: 40px !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    color: #212121 !important;
    text-align: left;
  }
}
