* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

li {
    list-style-type: none;
}
h2 {
     font-size: 28px;
     line-height: 1.2;
}

a {

    &:hover {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }

    &:link {
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
    }
}

p {
    margin: 0;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

p, span, button, label, h1, h2, h3, a, input, textarea, div {
  font-family: Rubik, sans-serif;
}

.form-semicolon-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.form-semicolon-wrapper {
  & > div, & > .btn {
    width: 48%;
  }
}

hr {
  margin: 40px 0;
  border-top: 1px solid $color-blue;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.page-top-img {
  border-radius: 12px;
  max-width: 100%;
  margin-bottom: 20px;
}

.page-main-title {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background: $color-gray;
    left: -40px;
    top: 10px;
  }
}

.page-main-subtitle {
  margin-bottom: 10px;
  margin-top: 20px;
  color: $color-gray;
  font-weight: 500;
}

.page-images-wrapper__image {
  width: 160px;
  height: 120px;
  object-fit: cover;
  margin-right: 12px;
}

.page-files-wrapper {
  display: flex;
}

.page-file {
  max-width: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 12px;
}

.page-file-name {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  color: $color-primary;
}
.flex-row{
  flex-direction: row;
}
.flex{
  display: flex;
}
.justify-content-space-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}

.ReactModal__Overlay {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plain-selected {
  background: $color-primary!important;

  path {
    fill: white!important;
  }
}

.add-form-item-btn {
  font-size: 14px;
  font-weight: 500;
  color: $color-primary;
  display: flex;
  align-items: center;

  img {
    margin-right: 5px;
  }
}

.select-all-btn {
  font-weight: 500;
  font-size: 12px;
  color: $color-primary;

  &:hover {
    text-decoration: underline;
  }
}

.error-message {
  font-size: 12px;
  font-weight: 500;
  color: red;
  margin-top: -5px;
  margin-bottom: 10px;
}

.back-arrow-btn {
  position: absolute;
  height: 48px;
  width: 48px;
  background: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 40px;
  top: 70px;
}
