.event-page {
  position: relative;
  padding-top: 50px;
  padding-bottom: 120px;
  height: 100%;

  &__similar-event {
    max-width: 160px;
    background: #fff;
    color: $color-gray;
    margin-left: auto;
  }

  &__back {
    margin-top: 60px;
    background: $color-gray;
  }
}
