.organization-container {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 64px;
  padding-bottom: 100px;
  max-width: 1000px;

  &__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 37px;
    display: flex;
    align-items: center;
    padding-bottom: 44px;
    color: #333333;
  }

  .sidebar {
    max-width: 250px;
    border: none;
    width: 100%;
    height: 400px;
    flex-basis: 73%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .organization-sidebar {
      padding: 24px;
      width: 208px;
      height: fit-content;
      background: #FFFFFF;
      box-shadow: 0px 4px 12px rgba(55, 29, 199, 0.15);
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      &__item {
        width: max-content;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #9198BB;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        flex-direction: row;

        .svg {
          div {
            svg {
              path {
                fill: #9198BB;
              }
            }
          }
        }

        .svg-active {
          div {
            svg {
              path {
                fill: $color-primary;
              }
            }
          }
        }
      }

      &__item-active {
        color: $color-primary;
      }
    }
  }

  .content {
    border: 2px;
    width: 100%;
    max-width: 680px;
    display: block;

    .diagram {
      width: 100%;
      height: 450px;
      background: #FFFFFF;
      box-shadow: 0 4px 12px rgba(55, 29, 199, 0.15);
      border-radius: 12px;
    }

    .dashboard-tab {
      width: 100%;
      &__options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        button {
          font-size: 12px;
        }

        .sort-by-type {
          gap: 10px;
          font-style: normal;
          display: flex;
          align-items: center;
        }

        .sort-by-period {
          display: flex;
          flex-direction: row;
          gap: 5px;

          .selected-period {
            color: $color-primary;
          }

          button {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #9198BB;
            padding: 0 6px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
.total-for-period{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  width:max-content;
  padding: 0 20px;
  height: 24px;
  background: #BFC9E0;
  border-radius: 6px;
}
    }

    .accounts-tab {
      width: 100%;
      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        .invite-btn {
          height: 48px;
        }
      }

      &__status-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        .sort-by-type {
          gap: 10px;
          font-style: normal;
          display: flex;
          align-items: center;

          .selected-type {
            color: #FFFFFF;
            background: #9198BB;
          }
        }

        button {
          font-size: 12px;
          padding: 0 15px;
        }
      }

      &__list {
        display: flex;
        gap: 25px;
        flex-direction: column;

        &--item {
          padding: 14px;
          width: 680px;
          min-height: 94px;
          background: white;
          box-shadow: 0px 4px 12px rgba(55, 29, 199, 0.15);
          border-radius: 12px;
          flex-direction: column;
          display: flex;
          justify-content: space-between;
          column-gap: 18px;

          .top {
            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            &__status {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 80px;
              height: 24px;
              background: #1ACD8C;
              border-radius: 6px;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 14px;
              text-align: center;
              color: #FFFFFF;
            }

            &__name {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              display: flex;
              align-items: center;

              color: #333333;

            }
          }

          .options {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__text {
              color: #BFC9E0;

              .key {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                display: flex;
                align-items: center;
              }

              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 14px;
              display: flex;
              align-items: center;
            }

            &__buttons {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;

              button {
                min-width: 80px;
                height: 24px;
                background: #BFC9E0;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 14px;
                  display: flex;
                  align-items: center;
                  text-align: center;
                  color: #FFFFFF;
                }
              }
            }
          }
        }
      }

      #selectedFile {
        height: 0;
        width: 0;
        visibility: hidden
      }
    }

    .settings-tab {
      display: flex;
      flex-direction: column;
      &__secondary {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 15px;
        color: #333333;
      }

      &__switch {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .timestamp {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          display: flex;
          align-items: center;

          color: #BFC9E0;
        }

        .buttons {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          button > p {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 0 15px;
            color: #FFFFFF;
          }

          .active {
            width: 80px;
            height: 24px;
            background: #1ACD8C;
            border-radius: 6px;
          }

          .disable {

            width: 80px;
            height: 24px;
            background: #BFC9E0;
            border-radius: 6px;
          }

        }
      }

      .bottom-label {
        display: flex;
        flex-direction: row;
        position: relative;

        .ui-input {
          margin-bottom: 0;
        }

        div {
          min-width: 49%;
        }

        .save-account {
          height: 48px;
          width: 50%;
        }
      }
    }
  }

}

.account-invite-modal {
  padding: 25px 0 0 0;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    &--form {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: right;
      color: #9198BB;
    }

    &--heading {
      max-width: max-content;
      font-style: normal;
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      font-feature-settings: 'liga' off;
      color: #333333;
    }
  }
}

.member-details-modal {
  &__header {
    .heading {
      font-style: normal;
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      display: flex;
      align-items: center;
      font-feature-settings: 'liga' off;

      color: #333333;
    }
  }

  .account-detail-header {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;

    .top {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      &__status {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 24px;
        background: #1ACD8C;
        border-radius: 6px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
      }

      &__name {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;

        color: #333333;

      }
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__text {
        color: #BFC9E0;

        .key {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          display: flex;
          align-items: center;
        }

        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
      }

      .createdAt {
        color: #BFC9E0;

        .created {
          font-weight: 500;
        }
      }
    }

    .buttons-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      .buttons {
        display: flex;
        gap: 10px;
        &--active {
          background-color: #1ACD8C !important;
        }

        button {
          min-width: 80px;
          height: 24px;
          background: #BFC9E0;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
          }
        }
      }
      .options{
        margin-left: auto;
      }

    }
  }

  .permissions-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 50px;

    .auth-checkbox__checkmark {
      background: #F7F7FD;
    }
    
    .checkboxes {
      label {
        margin: 8px 0 8px !important;
      }
    }
  }
}

.btn-group {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;

  button {
    height: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.delete-account-modal {
  text-align: center;

  p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  button {
    width: 250px;
    display: inline;

    &:last-child {
      margin-left: 20px;
    }
  }
}
