.search-modal {
  max-width: 600px;
  margin: 20px auto;

  &__title {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 27px;
  }

  &__section-title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  &__datepicker {
    margin-bottom: 0;

    .ui-input__icon {
      padding: 4px;
      right: 10px;
    }
  }
}

.search-result-page {
  max-width: 680px;
  margin: 50px auto 100px;

  .search-page__title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__count {
    font-size: 12px;
    font-weight: 400;
    color: $color-primary;
    margin-bottom: 15px;
  }

  &__input {
    margin-bottom: 15px!important;
  }
}
